.brand-logo {
  padding-left: 20px !important;
}
body {
  background-color: #dcdde1;
}

.btn {
  background-color: #2d3436;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
}
.btn-large {
  background-color: #00a8ff;
  top: 50px;
  height: 60px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-style: solid;
}
.btn-large:hover {
  background-color: #0097e6;
  color: #fff;
}

.btn:hover {
  background-color: #636e72;
  color: #fff;
}
.header-one {
  padding-top: 8px;
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.container-1 {
  width: 650px;
  height: 550px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  color: #fff;
  box-shadow: 2px 4px 10px 4px #93999b;
}
.container-1 {
  padding: 4%;
  border-style: solid;
  border-color: #00a8ff;
}
.btn-create {
  left: 100px;
  size: 100px;
}
.btn-2 {
  top: 140px;
  background-color: #00a8ff;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
}
